.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.screen-header__icons > .badge {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 25px;
  margin-top: -25px;
}
